{% extends "base.html" %}

{% load static %}

{% block title %}Yusuf Tri Ardho{% endblock %}

{% block css %}{% static 's8-css.css' %}{% endblock %}

{% block content %}
<body>
<div class="se-pre-con"><img src="{% static 'pingpong.gif' %}"></div>

  <div class="row">
    <div class="col">
      <h2 class="desc">Hi! my name is</h2>
      <h1 id='title'>Yusuf Tri Ardho</h1>
    </div>
    <div class="col">
      <script src={% static 's8-js.js' %}></script>
      <div id="accordion" class="desc">
        <h4 class="accordion-toggle">Activities:</h4>
        <div class="accordion-content default">
          <p class="desc2">Gabut</p>
        </div>
        <br>
        <h4 class="accordion-toggle">Organizations:</h4>
        <div class="accordion-content">
          <p class="desc2">Rustek</p>
        </div>
        <br>
        <h4 class="accordion-toggle">Achievements:</h4>
        <div class="accordion-content">
          <p class="desc2">Story pepew kelar</p>
        </div>
        <br>
        <h4 class="accordion-toggle">Write status:</h4>
        <div class="accordion-content">
          <p class="desc2"><a href="../s6">here ></a></p>
        </div>
        <br>
      <div>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    </div>
  </div>
</body>
{% endblock %}