{% extends "base.html" %}

{% load static %}

{% block title %}Story 10{% endblock %}

{% block css %}{% static 's8-css.css' %}{% endblock %}

{% block content %}
<div class="row">
<div class="col-12">
<h1 style="color: grey">Welcome! Register now to subscribe~</h1>
	<div class ="main-form">
		<div class ="form-container" id="subscribe-form">
	    	<form method="POST">
				<div class="alert alert-success" aria-label="close">Register successful!</div>
				<div class="alert alert-danger">Something went wrong, please try again</div>
	    		{% csrf_token %} 
	    		{% for field in RegisterFormAsSubscriber %}
					<div class="form-group">
						<div class="col-5 center">
					    	{{ field }}
							<div class="form-errors" style="color: red" id ="{{ field.name }}_errors"></div>
						</div>
					</div>
				{% endfor %}
				</div>
	        	<div class="form-group col">
					<button type="submit" class="btn disabled" id="submit_button" disabled="true">Register!</button>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
<script type="text/javascript" src="{% static 's10-js.js' %}"></script> 
{% endblock %}