{% extends "base.html" %}

{% load static %}

{% block title %}Welcome{% endblock %}

{% block css %}{% static 's5-css.css' %}{% endblock %}

{% block content %}
<body>
<div class="add-schedule-form">
	<h4 id="title">Hello, Apa Kabar ?</h4>
	<form method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Submit">
	</form>
</div>
<div class="schedule-list">
	{% for status in status_list %}
		<div class="desc">
	    	{{ status.content }}
	    </div>
	    <div class="date">
	        {{ status.date }}
	    </div>
	{% endfor %}
</div>

</body>
{% endblock %}