{% extends "base.html" %}

{% load static %}

{% block title %}Profile{% endblock %}

{% block css %}{% static 's5-css.css' %}{% endblock %}

{% block content %}
<div class="schedule-list">
	<img src="{% static 'circle-profpic.png' %}">
	<h4 id="title">Yusuf Tri Ardho</h4>
		<div class="desc"> 
			{{ desc }} 
		</div>
</div>

</body>
{% endblock %}