{% extends "base.html" %}

{% load static %}

{% block title %}Story 9{% endblock %}

{% block css %}{% static 's8-css.css' %}{% endblock %}


{% block content %}
<body>
<script type="text/javascript" src="{% static 's9-js.js' %}"></script>

{% if user.is_authenticated %}
	<div class="row">
	<div class="col-12">
	<h1>Halo {{ user.first_name }}!</h1>
	<p>Selamat datang ya di website ini, silahkan dicari - cari bukunya ^_^</p>
	<a href="./logout">log out</a>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<div class="star text-center">
		Kamu udah favorite buku sebanyak 
		<div class="fa fa-star yellow-clr"></div>
		<a id="number"> 0</a>
	</div>

	<br>
	<div class="input-group">
		<input class="form-control" placeholder="type here to search ..." type="text" id="search-form">
		<div>
			<button class="btn btn-default" type="submit"><i class="fa fa-search blue-clr"></i></button>
		</div>
	</div>
	<br>
	<table class="table" id="tab">
		<thead class="thead-white text-center">
			<tr>
				<th scope="col">No.</th>
				<th scope="col">Title</th>
				<th scope="col">Authors</th>
				<th scope="col">Publishers</th>
				<th scope="col">Published Date</th>
				<th scope="col">Add to Favorites</th>
			</tr>
		</thead>
		<tbody class="text-center" id="booklist">
		</tbody>
	</table>
{% else %}
	<div class="row">
	<div class="col-12">
		<h1>Mau cari - cari buku ? Login dulu klik dibawah ini ^_^</h1>
		<div>
		<a href="/auth/login/google-oauth2/">Login via google</a>
		</div>
	</div>
	</div>
{% endif %}

</body>
{% endblock %}

